.header {
  display: grid;
  padding: 92px 50px 92px;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__links-list {
  display: flex;
  padding-top: 1px;
  gap: 12px;
}

.header__links-list-item {
  list-style: circle;
  padding: 0 15px 0 5px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  padding-left: 0;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__link_active {
  text-decoration: none;
  border: none;
}

.header__logo {
  cursor: pointer;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  width: 240px;
  justify-self: end;
  font-style: normal;
}

.address-list {
  list-style: none;
}

.address-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  color: #000;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.address-list-text {
  padding-top: 1px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  color: #000;
}

.cover {
  position: relative;
  background-image: url('../images/cover.jpg');
  background-position: center;
  background-size: 1100px 757px;
  background-repeat: no-repeat;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  padding: 166px 50px 0 50px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  padding-top: 12px;
  text-align: center;
}

.aligned-text_right {
  padding-top: 5px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 127px 50px 51px 78px;
}

.cover__description-text {
  padding-top: 2px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 20px;
}

.span-spacing_center {
  word-spacing: 18px;
}

.span-spacing_right {
  word-spacing: 18px;
  padding-left: 1px;
}

.bet-button {
  width: 256px;
  height: 51px;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.lots {
  margin: 179px 24px 0;
}

.lots__heading {
  padding: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title {
  margin: 52px 40px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
}

.card__text {
  margin: 0 40px 45px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.about {
  padding: 181px 24px 90px 71px;
}

.about__column {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 240px 1fr;
  grid-template-areas:
    "logo title title"
    ". text text";
  column-gap: 72px;
  align-items: center;
}

.about__logo {
  grid-area: logo;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 150px;
}

.about__title {
  grid-area: title;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding-top: 12px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 9px;
  grid-area: text;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #000;
}

.about__logo-image {
  margin: 64px auto 0;
  display: block;
  width: 148px;
  height: 114px;
}


